.firstComp {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 15px 15px 15px 15px;
    padding: 5px 5px 5px 5px;
    position: relative;
    top: 20px;
}

.secondComp {
    position: absolute;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 15px 15px 15px 15px;
    padding: 5px 5px 5px 5px;
    position: absolute;
    left: 500px;
    top: 60%;
}

.thirdcomp  {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 15px 15px 15px 15px;
    padding: 5px 5px 5px 5px;
    position: absolute;
    right: 450px;
    top: 70%;
    transform: translateY(-50%);
}

.fourthcomp {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 15px 15px 15px 15px;
    padding: 5px 5px 5px 5px;
    position: relative;
    top: 35px;
}