.avatar {
    height: 300px;
  }

  .authorcard {
    font-size: small;
    border-radius: 0 0 15px 15px;
    padding: 5px 5px 5px 5px;
    background-color: #363636;
  }

  .mainCard {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}
